@import "../../css-config/mixins.scss";

.main{
    background-color: whitesmoke;
}
.row{
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 10px 10px 10px;
  @include sm{
    display: flex;
    padding-left: 15px;
    
  }

}
.img{
    width: 480px;
    height: 350px;
    @include sm{
      width: 100px;
      height: 100px;
    }
}