.main{
    background-color: skyblue;
    padding: 20px;
    width : 400px;
    height: 200px; 
    border-radius: 10px;
    margin-left: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block{
    margin: 40px;
    color: #03AC13; 
    font-size: 20px; 
}